*{
    margin: 0;
    padding: 0;
}
.box{
    background-color: #eee;
    color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 300px;
	height: 300px;
    margin-top: 100px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #000;
    margin-left: 50px;
    flex-shrink: 0;
    text-align: justify;
    
}
#item-1{
    margin-left: 0;
}
.container h2{
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
    text-align: center;
}
.container p{
    text-align: center;
    margin: 16px 0;
}
.container a{
    width: 100%;
    background-color: #f12;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    border-radius: 5px;
    color: #fff;
    border: 1px solid #000;
    text-decoration: none;
}
.container a:hover{
    background-color: #fff;
    color: #000;
    transition: 0.5s;
}

@media only screen and (max-device-width: 734px){
	 .containerbox2, .containerbox3{        
		margin: 50px 40px;
}
.containerbox1{
margin: 50px 40px !important;
}
}
@media only screen and (max-device-width: 1125px){
	.containerbox3{        
		margin: 50px 40px;
}
}
@media only screen and (max-device-width: 1200px){
    
    .box{
        flex-wrap: wrap;
    }
}

@media only screen and (max-device-width: 400px){
    .container{
        margin-left: 0;
        margin-top: 40px;
    }
  
}
